@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    overflow: hidden;
}

.container{
    margin: auto;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.card{
    margin: auto;
    background-color: hsl(213, 19%, 18%);
    width: 30%;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-content{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
}

@media only screen and (max-width:1025px){
    .card{
        width: 44%;
    }
}

@media only screen and (max-width: 770px){
    .card{
        width: 59%;
    }
}

@media only screen and (max-width: 426px){
    .card{
        width: 94%;
    }
}

@media only screen and (max-width: 321px){
    .card-content{
        padding: 25px;
    }
}